* {
  margin: 0;
  box-sizing: border-box;
  color: #141414;
  font-family: Geneva, "Segoe UI", Tahoma, Verdana, sans-serif;
}

body {
  background-color: rgb(209, 238, 247);
  filter: invert(0);
}

main {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 1rem;
  margin: 2rem auto 0 auto;
  width: 90dvw;
  height: 90dvh;
}

main div {
  border-radius: 1em;
  background-color: antiquewhite;
}

#bottom {
  grid-column: 1 / 20;
  grid-row: 25 / 30;
  display: flex;
  contain: content;
  justify-content: center;
  p {
    position: absolute;
    margin: 6rem auto 1rem auto;
  }
}

#left {
  grid-column: 1 / 30;
  grid-row: 5 / 25;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

#frstRght {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  contain: content;
  b {
    position: absolute;
    margin: 1.5rem;
  }
  img {
    position: absolute;
  }
}

#scndRght {
  grid-column: 26 / 30;
  grid-row: 1 / 5;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  contain: content;
  b {
    position: absolute;
    margin: 1.5rem;
  }
  img {
    position: absolute;
  }
}

#socials {
  grid-column: 20 / 30;
  grid-row: 25 / 30;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  place-items: center;
  text-align: center;
  contain: content;
  p {
    position: absolute;
    top: 0;
    padding: 1rem;
  }
  #socialsFr {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 1rem;
  }
}

.images {
  filter: blur(4px);
}

#tradeText {
  right: 5rem;
}

#copyText {
  left: 5rem;
}
