* {
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 153, 0);
  font-family: Geneva, "Segoe UI", Tahoma, Verdana, sans-serif;
}

body {
  background-color: rgb(209, 238, 247);
}

main {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 1rem;
  margin: 5rem auto 0 auto;
  width: 90dvw;
  height: 90dvh;
}

main div {
  border-radius: 1em;
}

#bottom {
  grid-column: 1 / 20;
  grid-row: 25 / 30;
  display: flex;
  contain: content;
  justify-content: center;
  p {
    position: absolute;
    margin: 6rem auto 1rem auto;
  }
}

#left {
  grid-column: 1 / 20;
  grid-row: 5 / 25;
}

#middle {
  grid-column: 20 / 30;
  grid-row: 15 / 25;
}

#right {
  grid-column: 20 / 30;
  grid-row: 5 / 15;
}
#socials {
  grid-column: 20 / 30;
  grid-row: 25 / 30;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  place-items: center;
  text-align: center;
  contain: content;
  h2 {
    position: absolute;
    top: 0;
  }
  #socialsFr {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 1rem;
  }
}

.images {
  filter: invert(1);
}

#tradeText {
  right: 5rem;
}

#copyText {
  left: 5rem;
}
