* {
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 153, 0);
}

body {
  background-color: rgb(255, 251, 251);
}

main {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 1rem;
  margin: 8% 12% 0 12%;
  width: 80vw;
  height: 80vh;
}

main div {
  border-radius: 1em;
  background-color: antiquewhite;
}

#bottom {
  grid-column: 10 / 20;
  grid-row: 23 / 30;
  margin: auto;
  place-items: center;
}

#left {
  grid-column: 1 / 10;
  grid-row: 1 / 30;
}

#middle {
  grid-column: 10 / 20;
  grid-row: 1 / 23;
}

#right {
  grid-column: 20 / 30;
  grid-row: 1 / 30;
}

#copyright {
  font-size: 18px;
}

#name {
  font-size: 20px;
}
